.day-cell {
    width: 48px;
    height: 60px;
    border-style: solid;
    border: 2px;
    border-color: green;
    display: flex;
    flex-direction:column;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}